/* Table styles */

/* ----------Contents---------- */
/* $001 .keyin_wordpool | used for creating fake wordpools for keying in when the automatic pool isn't able to meet requirements */

/* --------end Contents-------- */


/* $001 .keyin_wordpool */
.keyin_wordpool {
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  line-height: 21px;
  border-radius:5px;
}

.keyin_wordpool td {
  padding: 4px 16px 4px 16px;
}

.keyin_wordpool tr:first-child td:first-child{
  padding-top:10px;    
}

.keyin_wordpool tr:last-child td:last-child{
  padding-bottom:10px;    
}

.keyin_wordpool td .subnumber{
  font-size: 10px;
  color:#4db2dc;
  font-weight: bold;
}