<!-- Standard template with 2 columns,  left col=interaction, right col=small media -->

<div id="rubric" class="activity_small_media rubric">
</div>

<div id="content" class="activity_medium_media content grid_8">
</div>

<div id="media" class="activity_medium_media media grid_4">
</div>

<!--content and media divs widths altered to fix ticket #5 where sizes were not quite right. Will need to change again when addressing ticket #2 which will move padding to the content-wrap element and remove some margin settings from these boxes (currently defined in default.css)-->