<!-- Template with 2 rows, first row=media, left col=activity, right col=media -->

<div id="rubric" class="media_top_media_activity rubric">
</div>

<div id="media" style="margin: 0 10px 15px 20px;" class="media_top_media_activity media">
</div>

<div id="media" style="float: left; width: 320px; margin: 0 10px 15px 20px;" class="media_top_media_activity media">
</div>

<div id="content" style="float: right; width: 350px; margin: 0 10px 15px 10px;" class="media_top_media_activity content">
</div>



