.interaction.package-editable.ic-text-correction span.not-input-text, .interaction.package-editable.ic-text-correction span.not-input-text:hover {
	background: rgb(234,246,247);
	border-radius: 3px;
	box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.4) inset;
	padding: 2px 3px;
	line-height: 18px;
	display: inline-block;
}

.interaction.package-editable.ic-text-correction .ki24_view {
	line-height: 23px;
}

.interaction.package-editable.ic-text-correction span.modified, .interaction.package-editable.ic-text-correction span.highlighted {
	background: #e1f7e3;
}

/* added GR 2/8/2012 #112 #123*/
.ki24_input input.kitext {
    width: 90%; 
    border-radius:4px; 
    border-width: 0; 
    font: inherit; 
    color: rgba(0, 0, 0, 1);
    margin-top: 6px;
    padding: 2px 4px 2px 4px; 
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
    background-color: rgba(255,252,153, .3);
    height: 23px;
}

.ki24_input input.kitext:focus { 
    box-shadow: 0px 0px 3px 1px rgba(0, 110, 180, 1);
    outline: none;
}   

span.ki24_input {
    border-left: none;
}
